
<!-- Liste des pokemons avec un scroll infini géré par la fonction onScroll appelée à chaque scroll de la liste -->
<mat-nav-list
    class="my-list"
    infiniteScroll
    [scrollWindow]="false"
    (scrolled)="onScroll()"
    >
    <mat-list *ngIf="pokemons">
        <h3 mat-subheader>Pokemons</h3>
        <!-- Lors du click sur un pokemon on redirige vers sa page de details -->
        <mat-list-item *ngFor="let pokemon of pokemons.data">
            <img matListAvatar src="../../../assets/img/sprites/{{pokemon.id}}.png" alt="{{pokemon.name}}">
            <p matLine routerLink="/detail/{{pokemon.id}}"> {{pokemon.id}}. {{pokemon.name}} </p>
        </mat-list-item>
    </mat-list>
</mat-nav-list>